modules = ["python-3.12"]
run = "/run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "/run"]

[workflows]
runButton = "Run Python"

[[workflows.workflow]]
name = "Run Python"
author = 42348526
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python taschenrechner.py"
